<%= content_for :javascript do %>
<script type="text/javascript">
	window.currentRoom = new Room('<%= room_messages_url(@room) %>');
	<% if @messages.size > 0 %>
		window.currentRoom.lastMessageId = <%= @messages.last.id %>;
	<% end %>
	window.currentRoom.update();
</script>
<% end %>

<div class="row">

	<div class="col-md-4 col-lg-3">
		<%= render 'participants' %>
	</div>

	<div class="col-md-8 col-lg-6">

		<h1><%= @room.name %></h1>

		<div class="messages">
			<%= render partial: '/messages/message', collection: @messages %>
		</div>

		<div class="message-form">
			<%= render '/messages/new' %>
		</div>	

	</div>

</div>
